<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>添加辅导员</title>
   <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="https://v3.bootcss.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
     <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="https://v3.bootcss.com/examples/navbar/navbar.css" rel="stylesheet">
    <script src="https://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    </head>
 <body>
 <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
            <li class="active"><a class="navbar-brand" href="/admin/index">查看所有辅导员</a></li>
            </ul>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/admin/add">添加辅导员</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li> <form class="navbar-form navbar-right" action="/admin/search" method="post">
            <input type="text" class="form-control" name="number" placeholder="请输入辅导员账号查找">
          </form></li>
              <li><a href="#" onclick="myFunction()">注销用户</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
 <script>
function myFunction(){
	var r=confirm("是否确定注销!");
	if (r==true){
		window.location.href="logout";
	}
	else{
	}
}
</script>
<form class="form-signin" th:action="@{/admin/addsave}" method="post" role="form">
<table>
        <tr>
        <td><label for="inputPassword" >辅导员姓名：</label></td>
        <td><input type="text" name="assname" id="assname"  class="form-control" placeholder="请输入姓名" required></td>
        </tr>
        <tr>
        <td><label for="inputEmail" >辅导员账号：</label></td>
        <td><input type="text" id="username" name="username" class="form-control" placeholder="请输入账号" required autofocus></td>
        </tr>
        <tr>
        <td><label for="inputEmail" >辅导员密码： </label></td>
        <td><input type="text" id="password" name="password" class="form-control" placeholder="请输入密码" required autofocus></td>
        </tr>
        <tr>
        <td><label for="inputEmail" >辅导员管理的班级: </label></td>
        <td><input type="text" id="sclass" name="sclass" class="form-control" placeholder="请输入班级" required autofocus></td>
        </tr>
</table>
<br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="" value="提交" onclick="return check()">提交</button>
      </form>
 
 </body>
    
</html>